<a href="https://colab.research.google.com/github/MorganGautherot/Machine_Learning_Courses/blob/master/Random_Forest_%26_boosting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AdaBoost

Now you have a better understanding of the decision tree and random forest. We will create trees in an iterative way, each new tree having the objective to reduce the error of the previously created forest. you will use this algrotihm to obtain more accurate predictions for regression and classification.

### Preliminaries

In [31]:
# Load the library with the boston dataset
from sklearn.datasets import load_boston

# Load scikit's AdaBoost regressor library
from sklearn.ensemble import AdaBoostRegressor

# Importation of the decision tree algorithom for regression
from sklearn.tree import DecisionTreeRegressor

# Load pandas
import pandas as pd

# Load numpy
import numpy as np

# Compute mean absolue error
from sklearn.metrics import mean_absolute_error

import matplotlib.pyplot as plt

# Set random seed
np.random.seed(0)

### Load data

In [15]:
# Data frame for ou regression example
boston = load_boston()

# Create a dataframe with the four feature variables
df = pd.DataFrame(boston.data, columns=boston.feature_names)

# View the top 5 rows
df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [19]:
# Add a new column with the price of each house, this is what we are going to try to predict
df['PRICE'] = boston.target

# View the top 5 rows
df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  PRICE
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98   24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14   21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03   34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94   33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33   36.2

[5 rows x 14 columns]

### Train Test Split

Use `train_test_split` to split your data into train and test dataset. 

If you need help feel free to check the [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html).

In [23]:
from sklearn.model_selection import train_test_split

### Your code start here ###

# Use .iloc to select only X data
X = df.drop('PRICE', axis=1)

# Use pd.factorize the target value into 0, 1, 2 classes.
y = df.loc[:, 'PRICE']

# split train test using skleanr test_size = 0.33, and random_state = 42
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

### Your code end here ###

In [24]:
# Show the number of observations for the test and training dataframes
print('Number of observations in the training data:', len(X_train))
print('Number of observations in the test data:',len(X_test))

Number of observations in the training data: 339
Number of observations in the test data: 167

### Train model

If you need help feel free to check the [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.AdaBoostRegressor.html#sklearn.ensemble.AdaBoostRegressor).

In [27]:
### Your code start here ###

# Instantiate model with decision tree regressor with 1 depth max and 2 leaf node max
# there are 1000 decision trees and random state = 42
ada = AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=1, max_leaf_nodes=2), n_estimators = 1000, random_state = 42)

# Train the model on training data
ada.fit(X_train, y_train)

### Your code end here ###

AdaBoostRegressor(base_estimator=DecisionTreeRegressor(ccp_alpha=0.0,
                                                       criterion='mse',
                                                       max_depth=1,
                                                       max_features=None,
                                                       max_leaf_nodes=2,
                                                       min_impurity_decrease=0.0,
                                                       min_impurity_split=None,
                                                       min_samples_leaf=1,
                                                       min_samples_split=2,
                                                       min_weight_fraction_leaf=0.0,
                                                       presort='deprecated',
                                                       random_state=None,
                                                       splitter='best'),
                  learning_rate=1.0, loss='linear', n_estimators=1000,
                  random_state=42)

### Prediction on train and test set

In [29]:
### Your code start here ###

# Use the forest's predict method on the test data
y_predict_train = ada.predict(X_train)
y_predict_test = ada.predict(X_test)

### Your code end here ###

### Compute accuracy for Training and Testing prediction

Now it's time to compute `mean_absolute_score`.

Feel free to check the [doc](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_absolute_error.html) if you need more informations

In [32]:
### Your code start here ###
accuracy_train = mean_absolute_error(y_train, y_predict_train)
accuracy_test = mean_absolute_error(y_test, y_predict_test)
### Your code end here ###

print(accuracy_train)
print(accuracy_test)

4.975336021476837
5.272345839861514